In [1]:
li = [1,2,5]

In [2]:
li.insert(7,10)

In [3]:
li

[1, 2, 5, 10]

In [4]:
li * 3

[1, 2, 5, 10, 1, 2, 5, 10, 1, 2, 5, 10]

In [5]:
s = set()
s.add(1)
s.add("1")
s.add('1')
s

{'1', 1}

In [9]:
dict1 = {'data':'123',
        'science':'234',
        'AI':'235'}

In [14]:
for key in sorted (dict1.keys()) :  
     print(dict1[key])

235
123
234

In [20]:
student_data = {'id1':
{'name': ['Sara'],
'class': ['V'],
'subject_integration': ['english, math, science']
},
'id2':
{'name': ['David'],
'class': ['V'],
'subject_integration': ['english, math, science']
},
'id3':
{'name': ['Sara'],
'class': ['V'],
'subject_integration': ['english, math, science']
},
'id4':
{'name': ['Surya'],
'class': ['V'],
'subject_integration': ['english, math, science']
},
}


answer = {}

for k,v in student_data.items():
    if v not in answer.values():
        answer[k] = v

print(answer)

{'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

In [31]:
dict1 = {'a': 45, 'b': 34, 'c': 78, 'f': 78} 
dict2 = {'d': 56, 'e': 23, 'b': 67} 
  
d3 = dict(dict1)

d3.update(dict2) 

for i, j in dict1.items():

    for x, y in dict2.items():

        if i == x:

            d3[i]=(j+y)

print(d3)

{'a': 45, 'b': 101, 'c': 78, 'f': 78, 'd': 56, 'e': 23}

In [39]:
def is_prime(num):
    for n in range(2,num):
        if num % n == 0:
            print('not prime')
            break
        else:
            print('prime')
            break
            
            
is_prime(9)

prime

In [46]:
def fibo_gen(n):
    a = 1
    b = 1
    for i in range(n):
        yield a
        a,b = b,a+b
        
        
for num in fibo_gen(10):
    print(num)

1
1
2
3
5
8
13
21
34
55

In [50]:
s = 'hello'
s_iter = iter(s)
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))

h
e
l
l

In [52]:
L = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]

print("Original List: ",L)

u_value = set( val for dic in L for val in dic.values())

print("Unique Values: ",u_value)

Original List:  [{'V': 'S001'}, {'V': 'S002'}, {'VI': 'S001'}, {'VI': 'S005'}, {'VII': 'S005'}, {'V': 'S009'}, {'VIII': 'S007'}]
Unique Values:  {'S009', 'S007', 'S001', 'S002', 'S005'}

In [53]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)


def celsius(T):
    return (float(5/9)*(T - 32))

temp = [0,22.5,40,100]

In [56]:
F_temps = list(map(fahrenheit,temp))

F_temps

[32.0, 72.5, 104.0, 212.0]

In [59]:
list(map(lambda x: x+x ,F_temps))

[64.0, 145.0, 208.0, 424.0]