In [8]:
def askint():
    try:
        val = int(input("Please enter an integer \n"))
        print(val)
    except:
        print("Looks like you did not enter an integer")
    finally:
        print("Finally! I executed")
    
askint()

Please enter an integer
a
Looks like you did not enter an integer
Finally! I executed

In [10]:
f= open("demo.txt","r")
print(f.read())

This is a new file

In [18]:
f= open("demo.txt","a")
f.write("Appending the text to file")
f= open("demo.txt","r")
print(f.read())
f.close()

This is a new fileAppending the text to fileAppending the text to fileAppending the text to file

In [22]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
p = Person("sumit",30)
print(p.name," ",p.age)

sumit   30

In [23]:
help(object)

Help on class object in module builtins:

class object
 |  The most base type

In [25]:
def intro(name,age,*dt,**data):
   print("\nData type of argument:",type(data))
   for key, value in data.items():
       print("{} is {}".format(key,value))
   
   print(name,age)
   print('dt==>',dt)
       
       
intro('Suhas',30,5,5,6,3,Firstname="Sita", Lastname="Sharma", Age=22, Phone=1234567890)
intro('Deepti',40,Firstname="John", Lastname="Wood", Email="johnwood@nomail.com", Country="Wakanda", Age=25, Phone=9876543210)

Data type of argument: <class 'dict'>
Firstname is Sita
Lastname is Sharma
Age is 22
Phone is 1234567890
Suhas 30
dt==> (5, 5, 6, 3)

Data type of argument: <class 'dict'>
Firstname is John
Lastname is Wood
Email is johnwood@nomail.com
Country is Wakanda
Age is 25
Phone is 9876543210
Deepti 40
dt==> ()

In [26]:
import sqlite3
db= sqlite3.connect("my_database1.db")
db.execute("drop table if exists grades1")

db.execute("create table grades1 (id int, name text, score int)")
db.execute("insert into grades1(id, name, score) values(101, 'Sumit', 99)")

In [28]:
db.execute("select * from grades1")